* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", monospace;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(4px);

  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
  z-index: 3;
}

nav.hidden {
  transform: translateY(-100%);
}
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: rgb(86, 143, 30);
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4caf50;
  transform: scaleX(0);
  transition: transform 0.3s, background-color 0.3s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  background-color: #2196f3;
}
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
  
  .hero {
    height: 65vh;
    background-image: url(../Img/JPG/noticias.jpg);
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
    position: relative; /* Necesario para posicionar el overlay */
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 3;
  }
  
  .overlay h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
  }
  
  
  .scroll-down {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    z-index: 2;
  }
  
  .scroll-down i {
    font-size: 3em;
    animation: bounce 3s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }
  
  .news-image {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.recent-posts{
    background: #f8f9fa;
    padding: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: absolute;
 top: 430px;
  right: 50px;
}
.outstanding-posts{
  background: #f8f9fa;
  padding: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  position: absolute;
  top: 650px;
  right: 50px;
}
 
footer {
  background-color: white;
  padding: 4rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-content h3 {
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: lighter;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon {
  color: #333;
  font-size: 1.8rem;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #007bff;
}

.copyright {
  margin-top: 2rem;
  color: #333;
  font-size: 1.1rem;
}
